.page-header {
  margin: 0 auto 8rem auto;
  @include minWidth(960px) {
    margin:23rem auto 0;
  }

  &__wrapper {
    padding-top: 2rem;
    #seokey-breadcrumbs {
      display: flex;
      align-items: center;
      gap: 1rem;

      &:before {
        content: url("./img/voice.svg");
        width: 30px;
        height: auto;
      }
    }
  }

  &__custom-logo {
    //background: $r1-color-green;
    box-shadow: rgb(0 0 0 / 65%) 0px 0px 15px;
    width: 100%;
    &.active {
      display: block;
    }
    @include minWidth(960px) {
      display: none;
    }
  }

  .r1-custom-logo {

    &__img {
      width: 100px;
      height: auto;
    }
  }

  .main-title {
    margin: 2rem;
  }
}
