/*--------------------------------------------------------------
# Breakpoint
--------------------------------------------------------------*/
$breakpoint-960: 960px;
$breakpoint-700: 700px;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$font-weight-normal: 400;
$font-weight-bold: 700;

/*--- Couleurs ---*/
$r1-color-black : #1E2B24;
$r1-color-black-light : #5d5d5d;

$r1-color-white: #FFFFFF;


$r1-color-grey: #6B7771;
$r1-color-grey-darken: #55645D;
$r1-color-grey-light: #f3f3f3;

$r1-color-green: #75d9b5;
$r1-color-green-light : #72c794;
$r1-color-green-lime: #BCC526;

$r1-color-yellow-light: #FEF5DA;
$r1-color-yellow : #F8CD46;
$r1-color-yellow-gold : #C6A438;

$r1-color-beige : #F7F6F1;

$r1-color-red: #FF3333;
$r1-color-red-dark: #A13728;

$r1-color-border: #F2F3F2;


/*--- Font ---*/
$font-title: 'Aldrich', sans-serif;
$font-text: 'BIZ UDPMincho', serif;

$r1-font-size-xl: 2.5rem;
$r1-font-size-lg: 1.8rem;
/*--- Divers ---*/
$r1-border-radius: 8px;
